@font-face {
    font-family: 'JF Flat regular';
    src: url('../fonts/JF Flat regular.eot'), url('../fonts/JF Flat regular.eot?#iefix') format('embedded-opentype'), url('../fonts/JFFlat-Regular.woff') format('woff'), url('../fonts/JFFlat-Regular.ttf') format('truetype'), url('../fonts/JFFlat-Regular.svg#JFFlat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'JF Flat regular';
    direction: rtl;
}

.main {
    background-image: url(../img/background.png);
    background-size: 100% 100%;
}
.main .gradian{
  background-color: rgba(18, 17, 17, 0.3);
}

    /**********-RTL-*******/
    .main .col-xs-8,
    .main .col-sm-9,
    .main .col-lg-10,
    .main .col-xs-12,
    .main .col-sm-6,
    .main .col-md-4,
    .main .col-lg-3,
    .main .col-xs-4,
    .main .col-lg-4,
    .main .col-xs-2,
    .main .col-md-3,
    .main .col-lg-2,
    .main .col-xs-12,
    .main .col-lg-8,
    .main .col-xs-6,
    .main .col-lg-6,
    .main .col-xs-4,
    .main .col-sm-3,
    .main .col-lg-2 {
        float: right;
        text-align: right;
    }

    /* Start Main Header */

    .main .header {
    }

        .main .header .cover {
            height: 60px;
            background-image: url(..//img/header.png);
            background-size: cover;
            background-color: rgba(95, 52, 60, 0.55);
        }

        .main .header .logo {
            position: absolute;
            top: -79px;
        }

            .main .header .logo img {
                width: 100%;
                height: 100%;
            }

        .main .header .sign-tools {
            background-color: rgba(95, 52, 60, 0.55);
            padding-top: 10px;
        }

            .main .header .sign-tools li {
                float: left;
            }

            .main .header .sign-tools .btn {
                background-color: #9b6c75;
                border-color: #9b6c75;
                color: #f8c8d1;
                font-size: 16px;
                margin-right: 7px;
            }
                .main .header .sign-tools .btn:focus {
                    outline: 0;
                }
            .main .header .sign-tools .logOut {
                background: none;
                border: none;
                border-radius: 0px;
                border-right: 2px solid #9b6c75;
                border-left: 2px solid #9b6c75;
            }

            .main .header .sign-tools .fa {
                margin-left: 8px;
            }
            .main .header .sign-tools .noti {
                background-color: #f10707;
                position: absolute;
                border-radius: 50%;
                top: -15px;
                right: 2px;
                z-index: 100;
                padding: 3px 9px;
            }
            .main .header .dropbtn {
                  cursor: pointer;
              }

              .main .header  .dropdown {
                    position: relative;
                    display: inline-block;
                }
              .main .header .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                    float: right;
                    text-align: right;
                    right: 0;
                    margin: 0;
                    margin-right: 7px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    width: 350px;
                }
                .main .header .dropdown:hover .dropdown-content {
                    display: block;
                }
                .main .header .dropdown-content a:hover {
                  background-color: #f1f1f1
                }
                .main .header .sign-tools .dropdown-content .block {
                      margin-bottom: 5px;
                      padding-bottom: 5px
                }
                .main .header .sign-tools .dropdown-content a {
                    color: #575757;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }
                .main .header .sign-tools .dropdown-content img{width: 100%;height: 100%}

          /* search*/
          .main .header .sign-tools input {
          	outline: none;
            margin-right: 7px;
          }
          .main .header .sign-tools input[type=search] {
          	-webkit-appearance: textfield;
          	-webkit-box-sizing: content-box;
          	font-family: inherit;
          	font-size: 100%;
          }
          .main .header .sign-tools input::-webkit-search-decoration,
          .main .header .sign-tools input::-webkit-search-cancel-button {
          	display: none;
          }


          .main .header .sign-tools input[type=search] {
          	background: #ededed url(../img/magnifier.png) no-repeat 9px center;
          	border: solid 1px #ccc;
          	padding: 9px 10px 9px 32px;
          	width: 55px;

          	-webkit-border-radius: 10em;
          	-moz-border-radius: 10em;
          	border-radius: 10em;

          	-webkit-transition: all .5s;
          	-moz-transition: all .5s;
          	transition: all .5s;
          }
          .main .header .sign-tools input[type=search]:focus {
          	width: 130px;
          	background-color: #f8c8d1;
          	border-color: #66CC75;

          	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
          	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
          	box-shadow: 0 0 5px rgba(109,207,246,.5);
          }


          .main .header .sign-tools input:-moz-placeholder {
          	color: #999;
          }
          input::-webkit-input-placeholder {
          	color: #999;
          }


          .main .header .sign-tools .search input[type=search] {
            background-color: #9b6c75;
            padding: 8px 11px;
            border-radius: 5px;
            float: left;
            /* margin-left: 150px; */
            border: none;
          	width: 15px;
          	cursor: pointer;
          }
          .main .header .sign-tools .search input[type=search]:hover {
          	background-color:#9b6c75;
            border: none
          }
          .main .header .sign-tools .search input[type=search]:focus {
          	width: 130px;
          	padding-left: 32px;
          	color: #575757;
          	background-color: #9b6c75;
          	cursor: auto;
            border: none
          }
          .main .header .sign-tools .search input:-moz-placeholder {
          	color: transparent;
          }
          .main .header .sign-tools .search input::-webkit-input-placeholder {
          	color: transparent;
          }

          /*.main .header .sign-tools .search{
            background-color: #9b6c75;
            padding: 0px 4px;
            border-radius: 5px;
            float: left;
            margin-left: 150px
          }
          .main .header .sign-tools .search input{
            float: left;
            text-align: right;
            height: 30px;
            margin-top: 3px;
            background-color: #fcedf2;
          }*/

    /* End Main Header */

    /* Start Main Navbar */

    .main .navbar {
        margin-top: 50px;
    }

        .main .navbar .circle {
            width: 10px;
            height: 10px;
            background-color: #204d74;
            border-radius: 50%;
            position: relative;
            bottom: 22px;
            left: 6px;
        }

        .main .navbar ul li:last-of-type {
            float: left;
        }

        .main .navbar ul li {
            float: right;
        }

        .main .navbar .dropdown-menu {
            top: 40px;
            width: 300px;
            font-size: 18px;
            float: right;
            text-align: right;
            right: 0;
            margin: 0;
            background: none;
            border: none;
            border-right: 2px solid #204d74;
            border-radius: 0;
            border-bottom-right-radius: 4px;
            box-shadow: none;
            padding-top: 15px;
            padding-bottom: 0;
            transition: all .5s ease-in-out;
        }

            .main .navbar .dropdown-menu li {
                width: 100%;
                background-color: #204d74;
                margin-bottom: 10px;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

                .main .navbar .dropdown-menu li:last-of-type {
                    margin-bottom: 0;
                }

                .main .navbar .dropdown-menu li a {
                    color: #ade4f7;
                    padding: 5px 20px;
                    transition: all .5s ease-in-out;
                }

            .main .navbar .dropdown-menu > li > a:hover, .navbar .dropdown-menu > li > a:focus {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                background-color: #204d74;
                color: #fff;
                padding-right: 35px;
                transition: all .5s ease-in-out;
            }

        .main .navbar .btn-primary {
            color: #9b6c75;
            background-color: #f8c8d1;
            border: none;
            border-bottom: 3px solid #9b6c75;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            font-size: 18px;
            margin-left: 7px;
            transition: all .5s ease-in-out;
        }

            .main .navbar .btn-primary:focus {
                outline: 0;
            }

            .main .navbar .btn-primary:hover {
                color: #204d74;
                background-color: #9db8bc;
                border: none;
                border-bottom: 3px solid #204d74;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
                transition: all .5s ease-in-out;
            }

            .main .navbar .btn-primary:active, .navbar .btn-primary.active, .navbar .open > .dropdown-toggle.btn-primary {
                color: #204d74;
                background-color: #9db8bc;
                border: none;
                border-bottom: 3px solid #204d74;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
                transition: all .5s ease-in-out;
            }

        /*.main .navbar .search{
            background-color: #f8c8d1;
            padding: 5px 10px;
            border-radius: 5px;
            float: left;
        }

            .main .navbar .search input{
                text-align: right;
            }*/

        .main .navbar ul li .btn-secondary {
            background-color: #fcedf2;
            color: #9b6c75;
            border-right: 2px solid #9b6c75;
            font-size: 14px;
            border-radius: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .main .navbar ul li .form-control {
            background-color: #fcedf2;
            border-color: #fcedf2;
            box-shadow: none;
        }

    /* End Main Navbar */


    /* Start Main Content */

    .main .content {
        padding: 68px 0;
        color: #fefefe;
    }

        .main .content .text {
            position: relative;
        }

        .main .content ul li {
            color: #5f343c;
        }

            .main .content ul li p {
                color: #fff;
                line-height: 1.8;
                font-size: 18px;
            }

/* End Main Content */

/* Start Footer */

.footer img {
    opacity: 0.8;
}

/* End Footer */

/* Start Why Header */

.Why {
    background-image: url(../img/why-bg.png);
    background-size: 100% 100%;
}

    .Why .header {
        background-image: url('../img/header.png');
        background-size: 100% 100%;
        min-height: 60px;
    }

        .Why .header .register {
            padding: 20px 0;
            position: relative;
            bottom: 13px;
        }

            .Why .header .register .btn-primary {
                background-color: #ade5f6;
                color: #064b6b;
                border: 2px dashed #064b6b;
                margin-right: 15px;
            }

            .Why .header .register .fa-sign-out {
                color: #fff;
                transform: rotate(180deg);
                margin-right: 5px;
                position: relative;
                top: 2px;
            }

            .Why .header .register .fa {
                color: #fff;
                margin-left: 5px;
            }

            .Why .header .register .btn-danger {
                background-color: #f8aac2;
                color: #9b1a41;
                border: 2px dashed #9b1a41;
                margin-right: 15px;
                position: relative;
                z-index: 2;
            }

            .Why .header .register .new {
                width: 35px;
                height: 110px;
                position: absolute;
                left: 15px;
                top: 0;
                z-index: 1;
            }

            .Why .header .register .btn-danger,
            .Why .header .register .btn-primary {
                outline: 0;
            }

        .Why .header .logo {
            position: absolute;
            width: 200px;
            top: -85px;
            z-index: 9;
        }

    /* End Why Header */

    /* Start Why Content */

    .Why .content {
        margin: 80px 0;
    }

        .Why .content .swiper-container {
            width: 100%;
            height: 100%;
        }

        .Why .content .swiper-slide {
            background-image: url('../img/slider/bg.png');
            background-size: 100% 100%;
        }

            .Why .content .swiper-slide .head {
                float: left;
                padding: 20px 40px;
                width: 300px;
            }

            .Why .content .swiper-slide .right-header {
                padding: 60px;
                width: 200px;
            }

            .Why .content .swiper-slide .text-bg {
                float: right;
                width: 800px;
                position: relative;
                right: 40px;
                bottom: 65px;
            }

            .Why .content .swiper-slide .text-header {
                width: 120px;
                position: absolute;
                right: 115px;
                top: 189px;
            }

            .Why .content .swiper-slide .text-p {
                position: absolute;
                top: 297px;
                width: 600px;
                right: 110px;
                height: 238px;
            }

            .Why .content .swiper-slide .left-img {
                float: left;
                position: absolute;
                top: 140px;
                width: 350px;
                left: 55px;
            }

            .Why .content .swiper-slide .last-img {
                position: absolute;
                bottom: 75px;
                left: 115px;
                width: 130px;
            }

        .Why .content .swiper-container-horizontal > .swiper-pagination-bullets,
        .Why .content .swiper-pagination-custom,
        .Why .content .swiper-pagination-fraction {
            bottom: 35px;
        }

        .Why .content .swiper-button-next,
        .Why .content .swiper-button-prev {
            background-color: #555555;
            padding: 60px 20px;
            border-radius: 3px;
        }

        .Why .content .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
            background-image: url('../img/right-arrow.png');
        }

        .Why .content .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
            background-image: url('../img/left-arrow.png');
        }

        .Why .content .swiper-pagination-bullet {
            background-color: #f4e1a6;
        }

        .Why .content .swiper-pagination-bullet-active {
            background-color: #da9053;
            width: 10px;
            height: 10px;
        }

    /* End Why Content */

    /* Start Levels */

    .Why .cards {
        margin: 13px 0 14px 0;
    }

        .Why .cards h1 {
            margin: 40px 0;
            text-align: center;
            color: #064b6b;
        }

    .Why .content .card {
        background-color: rgba(30, 103, 135, 0.2);
        transition: all .5s ease-in-out;
        cursor: pointer;
        border-radius: 10px;
    }

        .Why .content .card:hover {
            background-color: rgba(30, 103, 135, 0.6);
            transition: all .5s ease-in-out;
            cursor: pointer;
            border-radius: 0;
        }

        .Why .content .card .card-block {
            background-color: #1e6787;
            color: #ade4f7;
            text-align: center;
            border-radius: 10px 10px 0 0;
        }

        .Why .content .card:hover .card-block {
            border-radius: 0;
            transition: all .5s ease-in-out;
        }

        .Why .content .card .card-block .card-text {
            margin: 0;
            padding: 20px;
            font-size: 18px;
            transition: all .5s ease-in-out;
        }

        .Why .content .card:hover .card-text {
            color: #fff;
            transition: all .5s ease-in-out;
        }

        .Why .content .card img {
            width: 100%;
        }

/* End Levels */

/* Start form-register */
.form-register{
  background-image: url(../img/background-sign.png);
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
}
      .form-register .col-lg-4{background-color: #a8506c}
      .form-register .image{
        margin-bottom: -60px
      }
      .form-register .image img{
        width: 100%;
        height: 100%;
        position: relative;
        top: -80px;
      }
      .form-register h3{
          color: #d7d7d7;
          margin-bottom: 20px;
      }
    .form-register .form-group .form-control {
      border: 2px dashed #fff;
      height: 40px;
      border-radius: 7px;
      box-shadow: none
    }
        /* First input -name- */
        .form-register span:first-of-type{
          color:#f86e6c
        }
        .form-register .form-group .input1{
          background-color: #f86e6c;
          padding: 5px;
          border-radius: 7px;
          margin-top: 10px;
          margin-bottom: 10px;
          box-shadow: 10px 7px 20px #534549;
        }
        .form-register .form-group .input1 .form-control{
          background-color: #f86e6c;
        }

        /* Second input -email- */
        .form-register span:nth-of-type(2){
          color:#fffbf3
        }
        .form-register .form-group .input2{
          background-color: #fffbf3;
          padding: 5px;
          border-radius: 7px;
          margin-top: 10px;
          margin-bottom: 10px;
          box-shadow: -7px 5px 28px 2px #534549;
        }
        .form-register .form-group .input2 .form-control{
          background-color: #fffbf3;
          border-color: #f86e6c
        }

        /* 3th input -password-*/
        .form-register span:nth-of-type(3){
          color:#71baab
        }
        .form-register .form-group .input3{
          background-color: #71baab;
          padding: 5px;
          border-radius: 7px;
          margin-top: 10px;
          margin-bottom: 10px;
          box-shadow: 10px 7px 20px #534549;
        }
        .form-register .form-group .input3 .form-control{
          background-color: #71baab;
        }

        /* 4th input -number-*/
        .form-register span:nth-of-type(4){
          color: #ffc1aa
        }
        .form-register .form-group .input4{
          background-color: #ffc1aa;
          padding: 5px;
          border-radius: 7px;
          margin-top: 10px;
          margin-bottom: 10px;
          box-shadow: -7px 5px 28px 2px #534549;
        }
        .form-register .form-group .input4 .form-control{
          background-color: #ffc1aa;
          border-color: #f86e6c;
        }

        /* checkbox*/
        .form-register .form-group .input-group {
          margin-top: 15px;
          margin-bottom: 15px
        }
        .form-register .form-group .input5{
          background-color: #d7d7d7;
          padding: 3px;
          border-radius: 7px;
          float: right;
        }
        .form-register .form-group .input5 .input-group-addon{
          background-color: #d7d7d7;
          border: 2px dashed #636363;
          border-radius: 7px;
          padding: 6px 8px;
        }
        .form-register .form-group .input-group .option {
          color: #d7d7d7;
          margin-right: 10px;
          line-height: 2em
        }

        /*button*/
        .form-register .form-group .button1{
          background-color: #f8aac2;
          padding: 5px;
          border-radius: 7px;
          float: left;
          margin-top: 10px;
          margin-bottom: 15px;
          display: block;
        }
        .form-register .form-group .btn-default{
          background-color: #f8aac2;
          color: #9b1a41;
          border: 2px dashed #9b1a41;
          float: left;
          border-radius: 7px
        }
    /* footer */
    .form-register .col-lg-4,.signIn .col-lg-12{
      padding-right: 0;
      padding-left: 0
    }
    .form-register .question {
      background-color: #782a43;
    }
    .form-register .question p {
      margin-right: 53px;
      color: #f86e6c;
      margin-top: 10px;
      font-size: 18px;
      margin-bottom: 10px;
    }
    .form-register .question p a{color:#f86e6c;text-decoration: none}
/* End form-register */

/* Start signIn*/
.signIn{
  position: fixed;
  width: 100%;
  height: 100%;
}
.signIn .col-lg-4{
  border-radius: 6px
}
    .signIn .image{
      overflow: hidden;
    }
    .signIn .row{
      margin-top: 60px
    }
    .signIn .forgot{
      margin-top: 15px;
      margin-bottom: 15px;
      display: block;
    }
    .signIn .forgot a{
      color: #d7d7d7;
      text-decoration: none;
    }
/* End signIn */
